body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#roadmap {
    width: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.node {
    background-color: #ffeb3b;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    width: 100px;
     cursor: pointer;
}

.node.done {
    background-color: #8bc34a;
    color: white;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
